.root {
  --card-background: var(--color-accent);
  border: none;
}

.header {
  font-style: italic;
}

.body {
  display: none;
  font-size: var(--size-step-2);
}

.quote {
  --flow-space: var(--space-s);

  color: var(--color-text-muted);
  font-size: var(--size-step-1);
  padding-inline-start: var(--space-m);
  border-left: 2px solid var(--color-text-muted);
}

.foot {
  margin-block-start: var(--space-s);
}

@container (width > 42.375rem) {
  .body {
    display: block;
  }

  .root {
    grid-template-rows: subgrid;
    display: grid;
    grid-row: span 3;
  }

  .foot {
    margin-block-start: 0;
  }
}
