.routeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--space-l);
  container: routeList / inline-size;
}

.subnav {
  max-inline-size: 100%;
  overflow-x: auto;
  scrollbar-color: var(--color-pebble) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.subnavList {
  display: flex;
  gap: var(--space-s);
}
